* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font), sans-serif,   Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
  background-image: linear-gradient(135deg, #4f8d77, #6fb89a 25%, #90cab4 50%, #abdbc9 75%, #e8f5ee);
  transition: background-color 0.5s ease;
  
}